@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1022px;
$breakpoint-xl: 1200px;

:root {

  --font-family: 'Raleway', sans-serif;
  --font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --font-size-small: 12px;

  --primary-color: #E9DED8;
  --header-bg: #E9DED8;

  --home-link-color: #404040;
  --home-link-hover-color: var(--primary-color);

  --button-color: #E9DED8;
  --button-alternate-color: #E9DED8;

  --post-link-color: #0F070B;


  --nav-link-hover-bg: #111;
  --text-color-meta: rgba(0, 0, 0, 0.5);

  --label-text: #777;
  --input-focus-border: #83AAAC;

  // CSS Grid Utility
  --grid-gap: 30px;

}