// Home

@media (max-width: $breakpoint-sm) {
  .home-recent-posts .site-width {
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }

  .home-about {
    flex-direction: column-reverse;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .home-about-text,
  .home-posts-title,
  .home-posts-grid,
  .home-about-img {
    width: 100%;
  }

  .home-about-img {
    padding-top: 40px;
  }

  .home-posts-grid {
    padding-top: 40px;
  }

  .home-posts {
    padding-top: 175px;
  }

  .home-quote p {
    font-size: 18px;
  }

  .home-banner .title {
    font-size: 3rem;
    line-height: normal;
  }

  .home-banner div,
  .home-banner .title,
  .home-banner .tagline {
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }

  .site-navigation li:last-of-type a {
    background-color: #E9DED8;
  }

  .about-page {
    .about-us-top {
      flex-direction: column;
    }

    h1 {
      font-size: 2rem;
      margin-top: 15px;
    }

    .about-us-top-img img {
      width: 100%;
    }

    .about-us-top-text {
      margin-right: 0px;
    }

    .member .member-container {
      flex-direction: column;
    }

    .member-img,
    .member-text {
      width: 100%;
    }

    .member-img {
      padding: 0 20px;
    }

    .member .member-container .member-text,
    .member-odd .member-container .member-text {
      padding: 0px 20px
    }
  }

  .blog-page {
    h1 {
      font-size: 2rem;
      text-align: center;
    }
  }

  .contact-page {
    h1 {
      font-size: 2rem;
      text-align: center;
    }
  }

  .join-page {

    h1 {
      font-size: 3rem;
    }

    .join-page-sec1,
    .join-page-sec2 .join-page-sec-background,
    .join-page-sec4,
    .join-page-sec5 .join-page-sec-background,
    .join-page-sec7,
    .join-page-sec10 {
      flex-direction: column;
    }

    .join-member-container {
      width: 100%;
    }

    .join-page-sec1-img,
    .join-page-sec2-img,
    .join-page-sec4-img,
    .join-page-sec5-img,
    .join-page-sec7-img,
    .join-page-sec10-img,
    .join-page-sec1-text,
    .join-page-sec2-text,
    .join-page-sec4-text,
    .join-page-sec5-text,
    .join-page-sec7-text,
    .join-page-sec10-text {
      width: 100%;
    }

    .join-page-sec1-text,
    .join-page-sec5-text,
    .join-page-sec7-text {
      padding-left: 0px;
    }

    .join-page-sec2-text,
    .join-page-sec4-text,
    .join-page-sec10-text {
      padding-right: 0px;
    }

    .name-button-text {
      opacity: 1;
    }

    .name-button-text {
      top: 90%;
    }

    .join-page-sec1 {
      padding-bottom: 2rem;
    }

    .join-page-sec2,
    .join-page-sec4 {
      padding-top: 2rem;
      padding-bottom: 4rem;
    }

    .join-page-sec3 h2,
    .join-page-sec8 h2,
    .join-page-sec9 h2 {
      font-size: 2rem;
    }

    .join-page-sec3 {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .join-page-sec5 {
      padding-top: 4rem;
      padding-bottom: 2rem;
    }
  }
}